body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center;   
  min-height: 100vh;      
  margin: 0;              
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  font-style: normal;
  color: cadetblue;
}

.business-card {
  width: 300px;
  background-color: seashell;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  border-radius: 10px; 
}

.profile-image {
  max-width: 150px; 
  border-radius: 50%; 
  border: 3px solid cadetblue; 
}

.full-name {
  font-size: 23px;
  font-weight: bold;
  color: darkslategray;
}

address {
  font-style: normal;
  color: dimgray;
}

.designation {
  font-size: 20px;
  color: darkslategray;
}

.company {
  font-size: 15px;
  color: darkslategray;
}

h2 {
  font-size: 20px;
  color: darkslategray;
  margin-bottom: 10px; 
  margin-top: 0;
}

.social-media a {
  display: inline-block;
  margin: 0 10px; 
  font-size: 24px;
}